
.box{
    position: fixed;
    margin:auto;
    width:50px;
    top:10%;
    height: 350px;
    text-align:center;
}

.red{background-color:red;   left:30%;}
.blue{background-color:blue; left:40% }

#choice_buttons{
    margin-top:380px;
    margin-left: 520px;
    border-radius: 12px;
}

#buttons{
    position:absolute;
    margin-top:50px;
    margin-left: 480px;
}

#button_text{
    width: 100px;
    height: 50px;
    border-radius: 12px;
}

#button_magic{
    width: 100px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
}

#button_play{
    width: 100px;
    height: 50px;
    border-radius: 12px;
}

#countdown{
    margin-left: 5%;
    font-size: 32px;

}
