
.box{
    position: fixed;
    margin:auto;
    width:50px;
    top:10%;
    height: 50%;
    text-align:center;
}

.red{background-color:red;   left:30%;}
.blue{background-color:blue; left:40% }

#choice_buttons{
    position: relative;
    margin-top:380px;
    margin-left: 28%;
    border-radius: 12px;
}

#buttons{
    position: relative;
    margin-top:20px;
    margin-left: 20%;
}

#button_text{
    width: 100px;
    height: 50px;
    border-radius: 12px;
}

#button_magic{
    width: 100px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
}

#button_play{
    width: 100px;
    height: 50px;
    border-radius: 12px;
}

#countdown{
    margin-left: 5%;
    font-size: 32px;

}
